* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(135, 228, 135);
}
.panel {
  width: 80%;
  height: 80%;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
}
.ptop {
  width: 100%;
  height: 100px;
  padding: 0 30%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(62, 184, 78);
}
.elem {
  display: flex;
  gap: 12px;
  align-items: center;
}
.box {
  padding: 5px 20px;
  border-radius: 5px;
  background-color: white;
  color: rgb(24, 145, 36);
  font-weight: 700;
  font-size: 20px;
}
.pbtm {
  width: 100%;
  height: calc(100% - 100px);
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.bubble {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(70,221,70);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}
.bubble:hover {
  background-color: rgb(12, 134, 12);
  cursor: pointer;
}
